@page "/print"
@page "/print/{text}"

<h3>@Text</h3>

@code {
    private string _text;
    [Parameter]
    public string Text {
        get
        {
            return _text;
        }
        set
        {
            _text = value ?? "Type the Text to be printed on the URL Query";
        }
    }
}

