@page "/testplayground"
@inject HttpClient Http

<h3>Test Playground</h3>

<CascadingValue Value="@_address">
    <AddressComponent />
</CascadingValue>

<p>@_address.AddressStr</p>

@code {
    private Address _address = new Address();
    protected override async Task OnInitializedAsync()
    {
        _address = await Http.GetJsonAsync<Address>(Global.APIRoot + "person/1");
    }
}
