@page "/todo"

<h1>Todo - Count: @todos.Count(t => !t.IsDone)</h1>

<ul>
    @foreach(var todo in todos){
        <li>
            <input type="checkbox" @bind="@todo.IsDone" />
            <input type="text" @bind="@todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="@newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code{
    private string newTodo;
    private IList<TodoItem> todos = new List<TodoItem>();
    
    private void AddTodo(){
        if (!string.IsNullOrEmpty(newTodo)){
            todos.Add(new TodoItem() { Title = newTodo, IsDone = false });
            newTodo = string.Empty;
        }
    }
}